{% extends 'base.html.twig' %}

{% block title %}Naudotojas{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 id="user_{{ userId }}">Naudotojas</h1>
        {{ user.username }}
        {% for role in roles %}
            <span class="badge badge-secondary">{{ role|lower }}</span>
        {% endfor %}
        <div class="mb-2">
<<<<<<< HEAD
            <span class="badge badge-primary">Website</span> <a href="{{ user.homepage }}">{{ user.homepage }} </a><br/>
            <span class="badge badge-primary">Linkedin</span> <a href="{{ user.linkedin }}">{{ user.linkedin }}</a>
=======
            <span class="badge badge-primary">Website</span> <a href="{{ user.homepage }}"></a>{{ user.homepage }}
>>>>>>> upstream/homework-2019-11-19
        </div>
    </div>
{% endblock %}
