{% extends 'base.html.twig' %}

{% block title %}Projektai{% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for project_key, project in projects %}
            {% for student in project.students %}
                <li class="list-group-item">
                    <a href="{{ path('student', {name: student, project: project_key}) }}">{{ student|e }}</a>
                    (
                    {% if project.mentors|length == 1 %}
                        <span class="badge">Mentorius</span>
                    {% else %}
                        <span class="badge">Mentoriai</span>
                    {% endif %}
                    {{ project.mentors|join(', ')|e }}
                    )
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

    <div class="m-4">
        <form action="{{ path('student') }}" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas"/>
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas"/>
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        {% for project_key, project in projects %}
            <li class="list-group-item">
                <h3>{{ project.name|e }}</h3>
                <div class="panel panel-default">
                    <div>
                        <a target="_blank" href="https://github.com/nfqakademija/{{ project_key|e('url') }}">github.com/nfqakademija/{{ project_key|e }}</a>
                        <span class="badge">GitHub</span>
                    </div>
                    <div>
                        <a target="_blank"
                           href="http://{{ project_key|e('url') }}.projektai.nfqakademija.lt/">{{ project_key|e }}
                            .projektai.nfqakademija.lt/</a>
                        <span class="badge">Web</span>
                    </div>
                    <div>
                        <pre>ssh {{ project_key|e }}@deploy.nfqakademija.lt -p 2222</pre>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="m-4">
        <a class="text-light" href="{{ absolute_url('/students.json') }}">Duomenų failas</a>
    </div>

{% endblock %}


