{#{% extends 'base.html.twig' %}#}

{#{% block title %}Homework{% endblock %}#}

{#{% block body %}#}
{# someVariable#}
{#{% endblock %}#}


{% extends 'base.html.twig' %}

{% block title %}Projektai{% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>


            {% for i in result %}
{#            <a class="list-group-item" href="{{ path('student',{'student':i['student']}) }}">{{i['student']}}</a>#}
{#                <a class="badge" href="{{ path('student',{'student':i['student']}) }}">{{i['student']}}</a>#}
                <li class="list-group-item">
                    <a href="{{ path('student',{'student':i['student'],'project':i['project']}) }}">{{i['student']}}</a>
                    (
                    <span class="badge">Mentorius</span> {{i['mentors'][0]}}
                    )
                </li>
                <div></div>
            {% endfor %}


    </ul>
{% endblock %}

