{% extends 'base.html.twig' %}

{% block title %}Homework{% endblock %}

{% block body %}

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for key, team in someVariable %}
            {% for student in team.students %}
                <li class="list-group-item">
                    <a href="{{ path('student', {'name': student, 'project': key}) }}">{{ student|escape('html') }}</a> ( <span class="badge">Mentorius</span> {{ team.mentors[0]|escape('html') }} )
                </li>
            {% endfor %}
            <div></div>
        {% endfor %}
    </ul>

    <div class="m-4">
        <form action="/student" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas">
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas">
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        {% for key, team in someVariable %}
            <li class="list-group-item">
                <h3>{{ team.name|escape('html') }}</h3>
                <div class="panel panel-default">
                    <div>
                        <a target="_blank" href="https://github.com/nfqakademija/{{ key| url_encode }}">github.com/nfqakademija/{{ key }}</a>
                        <span class="badge">GitHub</span>
                    </div>
                    <div>
                        <a target="_blank" href="http://{{ key|url_encode) }}.projektai.nfqakademija.lt/">{{ key }}.projektai.nfqakademija.lt/</a>
                        <span class="badge">Web</span>
                    </div>
                    <div>
                        <pre>ssh {{ key }}@deploy.nfqakademija.lt -p 2222</pre>
                    </div>
                </div>
            </li>
            <div></div>
        {% endfor %}
    </ul>

    <div class="m-4">
        <a class="text-light" href="students.json">Duomenų failas</a>
    </div>

{% endblock %}
