{% extends 'base.html.twig' %}

{% block title %}Projektai{% endblock %}

{% block body %}

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>


        {% for i in result %}
            <li class="list-group-item">
                <a href="{{ path('student',{'student':i['student'],'project':i['project']}) }}">{{ i['student'] }}</a>
                (
                <span class="badge">Mentorius</span> {{ i['mentors'][0] }}
                )
            </li>
            <div></div>
        {% endfor %}
    </ul>

    <div class="m-4">
        <form action="/student" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas"/>
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas"/>
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>


    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>

        {% for i in result2 %}

        <li class="list-group-item">
            <h3>{{i['description']}}</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/{{i['project']}}">github.com/nfqakademija/{{i['project']}}</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank"
                       href="http://{{i['project']}}.projektai.nfqakademija.lt/">{{i['project']}}.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh {{i['project']}}@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="m-4">
        <a class="text-light" href="students.json">Duomenų failas</a>
    </div>

{% endblock %}

