{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    {{ include('home/studentai.html.twig') }}
    {{ include('home/forma.html.twig') }}
    {{ include('home/projektai.html.twig') }}
    {{ include('home/duomenu_failas.html.twig') }}
    <div class="nfq-academy"></div>
{% endblock %}
