{% extends 'base.html.twig' %}

{% block title %} ND {% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% set counter = 0 %}
        {% for team in array %}
            {% for member in team.students %}
            <li class="list-group-item">
                <a href="/student?{{ counter }}">{{ member }}</a>
                (
                <span class="badge"> Mentorius</span> {{team.mentors[0]}}
                )
            </li>
                {% set counter = counter + 1 %}
            {% endfor %}
        {% endfor %}
    </ul>

    <div class="m-4">
        <form action="/search" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas" pattern="[A-Za-z0-9]+">
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas" pattern="[A-Za-z0-9]+">
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>



    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        {% for key, team in array %}
        <li class="list-group-item">
            <h3>{{team.name}}</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/{{key}}">github.com/nfqakademija/{{key}}</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://{{key}}.projektai.nfqakademija.lt/">{{key}}.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh {{key}}@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="m-4">
        <a class="text-light" href="data.json">Duomenų failas</a>
    </div>



{% endblock %}
