{% extends 'base.html.twig' %}

{% block title %} Projektai {% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
    {% for team in data %}
        {% for student in team['students'] %}
            <li class="list-group-item">
                <a href="/student?name={{student|escape('url')}}&amp;project={{team['team']|escape('url')}}">{{student}}</a>
                (
                <span class="badge">Mentorius</span> {{team['mentors'][0]|escape('html')}}
                )
            </li>
            {% endfor %}
    {% endfor %}
    </ul>

    <div class="m-4">
        <form action="/student" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas"/>
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas"/>
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

<ul class="list-group m-4">
    <li class="list-group-item list-group-item-info">Projektai</li>
    {% for team in data %}
    <li class="list-group-item">
        <h3>{{team['name']}}</h3>
        <div class="panel panel-default">
            <div>
                <a target="_blank" href="https://github.com/nfqakademija/{{team['team']}}">github.com/nfqakademija/{{team['team']}}</a>
                <span class="badge">GitHub</span>
            </div>
            <div>
                <a target="_blank" href="http://{{team['team']|escape('url')}}.projektai.nfqakademija.lt/">{{team['team']}}.projektai.nfqakademija.lt/</a>
                <span class="badge">Web</span>
            </div>
            <div>
                <pre>ssh {{team['team']}}@deploy.nfqakademija.lt -p 2222</pre>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
    <div class="m-4">
        <a class="text-light" href="students.json">Duomenų failas</a>
    </div>
{% endblock %}
