{% extends 'base.html.twig' %}
{% block title %} {{ title }}{% endblock %}
{% block body %}
    <div class="bg-light m-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Projektas</th>
                <th scope="row">Studentas</th>
            </tr>
            <tr>
                <td>{{ student }}</td>
                <td>{{ project }}</td>
            </tr>
            </tbody>
        </table>
        {% if evaluation ==  'Dešim balų' %}
            <div class="alert alert-success">{{ evaluation }}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">{{ evaluation }}
            </div>
        {% endif %}
    </div>
    <div class="m-4">
        <a class="text-light" href="{{ path('home') }}">Visi studentai</a>
    </div>
{% endblock %}